/*
 * Fix alignment of social-icons on author pages.
 */
.relative.inline-block.align-text-bottom.icon {
    vertical-align: sub !important;
}

/*
 * Crop and center the image on the front-page.
 */
@media only screen and (min-width: 1024px) {
    div .relative .-mr-48 {
        overflow: hidden;
        border-radius: .75rem;
    }
    
    div .relative .-mr-48 > img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: 100%;
    }
}

.relative.pt-16.pb-32 {
    margin-top: -2rem;
    padding-top: 0;

    padding-bottom: 4rem;
    border-bottom: 1px solid #818181;
    margin-bottom: 4rem;
}

/*
 * Style "title" in main nav menu, to prevent changing the actual title.
 */
nav.flex:first-of-type a.text-base {
    font-weight: bold;
}

nav.flex:first-of-type a.text-base::before {
    content: "[ ";
}

nav.flex:first-of-type a.text-base::after {
    content: " ]";
}
